---
layout: default
title: Home
---
<p>
こんにちは！ You can call me Katsuragi. I am a developer with moderate 
experience in C, C++, Rust and Python. This is where you will find everything
that has to do with my life and adventures. My "HTTP abode", as I like to call.
I also have a  <a href="gopher://sdf.org/1/users/katsuragi/" target="_self"> "Gopher
abode"</a>. Also, I'm a big fan of AKB48 and my oshimen is and will always be 
Mayu Watanabe(まゆゆ)
</p>

<!--<div class="posts">
  {% for post in paginator.posts %}
  <article class="post">
    <h1 class="post-title">
      <a href="{{ post.url | relative_url }}">
        {{ post.title }}
      </a>
    </h1>

    <time datetime="{{ post.date | date_to_xmlschema }}" class="post-date">{{ post.date | date_to_string }}</time>

    {{ post.content }}
  </article>
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ paginator.next_page_path | relative_url }}">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    <a class="pagination-item newer" href="{{ paginator.previous_page_path | prepend: relative_url }}">Newer</a>
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
</div>
-->
